<section class="contact-action">
    <div class="contact-container">
      <div class="contact-content">
        <h2>Make your Booking Now</h2>
        <p>We look forward to hosting you. Make a booking or check out our latest reviews to see what our customers are saying!</p>
      </div>
      <div class="contact-buttons">
      <!-- WhatsApp Button -->
      <button class="contact-button booking" (click)="connectWhatsApp()">
        <img src="assets/images/whatsapp-icon.png" alt="WhatsApp" class="button-icon" />
        Make a Booking
      </button>
  
      <!-- Google Places Button -->
      <button class="contact-button check-reviews" (click)="openGooglePlaces()">
        <img src="assets/images/google-icon.png" alt="Google Reviews" class="button-icon" />
        Check Latest Reviews
      </button>
    </div>
  </div>
  </section>