/* ============================
   ITC Avant Garde Gothic Pro
   ============================ */

   @font-face {
    font-family: 'AvantGarde';
    src: url('assets/fonts/avantgarde/ITC Avant Garde Gothic Pro-XLight Oblique.otf') format('opentype');
    font-weight: 200;
    font-style: oblique;
  }
  
  @font-face {
    font-family: 'AvantGarde';
    src: url('assets/fonts/avantgarde/ITC Avant Garde Gothic Pro-XLt.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'AvantGarde';
    src: url('assets/fonts/avantgarde/ITC Avant Garde Gothic Pro-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'AvantGarde';
    src: url('assets/fonts/avantgarde/ITC Avant Garde Gothic Pro-Book Oblique.otf') format('opentype');
    font-weight: 400;
    font-style: oblique;
  }
  
  @font-face {
    font-family: 'AvantGarde';
    src: url('assets/fonts/avantgarde/ITC Avant Garde Gothic Pro-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'AvantGarde';
    src: url('assets/fonts/avantgarde/ITC Avant Garde Gothic Pro-Medium Oblique.otf') format('opentype');
    font-weight: 500;
    font-style: oblique;
  }
  
  @font-face {
    font-family: 'AvantGarde';
    src: url('assets/fonts/avantgarde/ITC Avant Garde Gothic Pro-Demi.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'AvantGarde';
    src: url('assets/fonts/avantgarde/ITC Avant Garde Gothic Pro-Demi Oblique.otf') format('opentype');
    font-weight: 600;
    font-style: oblique;
  }
  
  @font-face {
    font-family: 'AvantGarde';
    src: url('assets/fonts/avantgarde/ITC Avant Garde Gothic Pro-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'AvantGarde';
    src: url('assets/fonts/avantgarde/ITC Avant Garde Gothic Pro-Bold Oblique.otf') format('opentype');
    font-weight: 700;
    font-style: oblique;
  }
  
  /* ========== GLOBAL ========== */
  
  body {
    font-family: 'AvantGarde', sans-serif;
    margin: 0;
    padding: 0;
  }
  